/*Small window*/
@media screen and (min-width: 660px) {
#mainContainer{
	
	background-color: #ccffee;

}
#rightContainer{
	float: bottom;
}

}


/*Big window*/
@media screen and (min-width: 1232px) {
#mainContainer{
	background-color: #eeffcc;

}

#rightContainer{
	visibility: visible;
}



}